symmetricDistance/target/
symmetricDistance/pom.xml.tag
symmetricDistance/pom.xml.releaseBackup
symmetricDistance/pom.xml.versionsBackup
symmetricDistance/pom.xml.next
symmetricDistance/release.properties
symmetricDistance/dependency-reduced-pom.xml
symmetricDistance/buildNumber.properties
symmetricDistance/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
